@charset "UTF-8";
/* CSS Document */





/*   General Content   */



/*   MEDIA QUERIES   */
/*   Tegan Page   */
#tegan {
	padding-bottom:250px;
}

/*   Wayfinding Page   */

#wayfinding {
	padding-bottom:70px;
}

/*   Data Visualisation Page   */
#data img {
	border: solid 0.3px #E5E5E5;
	padding: 20px;
}

/*   Beauty Page   */
#beauty {
	padding-bottom: 580px; 
}

/*   BLM Page   */
#blm {
	padding-bottom: 300px;
}

/*   Poster Page   */

#poster {
	padding-bottom: 350px;
}

/*   Mag Type Page   */

#magtype {
	padding-bottom: 100px;
}

/*   Hot Rod Page   */
#rod {
	padding-bottom: 850px;
}

/*   Kopi   */
#kopi {
	padding-bottom: 100px;
}


#mainphone {
	padding-top: 8%;
}

/*   Contact Page   */
#contact {
	padding-top: 8%;
	text-align: center;
}

#contact p {
	font-size: 2em;
	line-height: 20px;
}

#contact h1 {
	font-size: 2.1em;
	padding-bottom: 10px;
	color: #f89f4f;
	opacity: 0.6;
}


/*   General */
.border {
	border: solid 0.3px #E5E5E5;
}

.hide {
    display: none;
	padding-top: 8%;
}

.row{padding: 2% 0;}

#body {
	margin-top: 300px;
}



header {
	top: 0%;
	height: 20%;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: white;
	border-bottom: solid 0.1px #E9E9E9;
}

.sticky {
	height: 5%;
	width: 100%;
	position: fixed;
	padding-bottom: 2%;
	transition: 0.5s ease-in-out;
}

.sticky img {
	display: none;
}


header img {
	max-width: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	
}

nav {
	margin-top: 15px;
}

a {
	text-decoration: none;
	color: #363636;
	text-transform: uppercase;
	font-family: 'Raleway', 'Open Sans', sans-serif;
	font-size: 1.2em;
	letter-spacing: 0.8px;
	line-height: 2.2em;
}

a:hover {
	color:#f89f4f;
	font-weight: bold;
}

nav li:hover {
	color: #f89f4f;
}

ul {
	text-align: center;
}

li {
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	list-style-type: none;
	display: inline-block;
	padding: 20px ; 
	margin: 0px 40px;
}

#contactfooter {
	position:absolute;
	width: 100%;
}

footer {
	background-color: #f89f4f;
	padding: 1%;
	margin-top: 10%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 0.9em;
	font-weight: 100;
	letter-spacing: 1px;
	color: white;
	bottom: 0%;
}

footer p {
	padding-top: 10px;
}
/*   Typography   */

span {
	font-weight: 700;
}

body {
	color: #363636;
}
	

h6 {
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 0.5px;

}

.work:hover h6 {
	color: #f89f4f;
	
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	font-weight: 200;
	font-size:1.3em;
	margin-bottom: 2%;
}

p {
	font-family: 'Raleway', 'Open Sans', sans-serif;
	font-size: 1.2em;
	letter-spacing: 0.8px;
	line-height: 2.2em;
}


/*   Images  */

#top {
	border: solid 1px #E5E5E5;
	width: 3%;
	border-radius: 25%;
	padding: 10px;
	bottom: -100px;
	right: 50%;
	position: fixed;
	text-align: center;
}

.arrow {
	transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.active {
    color: #f89f4f;
    font-weight: 200;
}

.work img {
	max-width: 100%;
}

#body img {
	max-width: 100%;
}


.work {
	transition: 0.3s ease;
	font-family: 'Montserrat', sans-serif;
}

.work:hover {
	opacity: 0.8;
}

@media only screen and (max-device-width: 440px) {
    /* Hides phone content */
    div#maindesktop {
        display: none;
    }
	
    
    /* Shows desktop home */
    
	

/*   Images  */
/*   TABLET   */

/*@media only screen and (min-width: 481px) and (max-width:549px) {
	header img {
		max-width: 28%;
	}
	
	nav li {
		padding: 0px;
		margin: 0px 25px;
	}
	
	#top {
		width: 5%;
		right: 50%;
	}

}*/