@charset "UTF-8";
/* CSS Document */


/*   Data Visualisation Page   */
#data img {
	border: solid 0.3px #E5E5E5;
	padding: 20px;
}

/*   BLM Page   */
#blm {
	padding-bottom: 100px;
}

#mainphone {
	padding-top: 8%;
}

/*   Contact Page   */
#contact {
	padding-top: 8%;
	text-align: center;
}

#contact p {
	font-size: 2em;
	line-height: 20px;
}

#contact h1 {
	font-size: 2.1em;
	padding-bottom: 10px;
	color: #f89f4f;
}

#contact img {
	width: 10%;
}


/*   General */

html {
	height: 100%;
	box-sizing: border-box;
}

footer {
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;


}


.border {
	border: solid 0.3px #E5E5E5;
}

.hide {
    display: none;
	padding-top: 8%;
}

.row{padding: 2% 0;}

body {
	margin-top: 300px;
	position: relative;
	padding-bottom: 10%;
}


header {
	top: 0%;
	height: 20%;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: white;
	border-bottom: solid 0.1px #E9E9E9;
	margin-bottom: auto;
}

.sticky {
	height: 5%;
	width: 100%;
	position: fixed;
	padding-bottom: 2%;
	transition: 0.5s ease-in-out;
}

.sticky img {
	display: none;
}


header img {
	max-width: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	
}

nav {
	margin-top: 15px;
}

#nav ul {
	list-style-type: none;
	text-align: center;
}

#nav li {
	display: inline-block;
}

#nav li a{
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 20px ; 
	margin: 0px 40px;
}

a {
	list-style-type: none;
	text-decoration: none;
	color: #363636;
	text-transform: uppercase;
	font-family: 'Raleway', 'Open Sans', sans-serif;
	font-size: 1.2em;
	letter-spacing: 0.8px;
	line-height: 2.2em;
}

a:hover {
	color:#f89f4f;
	font-weight: 200;
}

#contactfooter {
	position:absolute;
	width: 100%;
}

footer {
	background-color: #f89f4f;
	padding: 1%;
	margin-top: 10%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 0.9em;
	font-weight: 100;
	letter-spacing: 1px;
	color: white;
	bottom: 0%;
}

footer p {
	padding-top: 10px;
}
/*   Typography   */

span {
	font-weight: 700;
}

body {
	color: #363636;
}
	

h6 {
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 0.5px;

}

.work:hover h6 {
	color: #f89f4f;
	
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	font-weight: 200;
	font-size:1.3em;
	margin-bottom: 2%;
}

p {
	font-family: 'Raleway', 'Open Sans', sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.8px;
	line-height: 2.2em;
}


/*   Images  */

#top {
	border: solid 1px #E5E5E5;
	width: 3%;
	border-radius: 25%;
	padding: 10px;
	bottom: -100px;
	right: 50%;
	position: fixed;
	text-align: center;
}

.arrow {
	transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.active {
    color: #f89f4f;
    font-weight: 200;
}

img {
	width: 100%;
}


.work {
	transition: 0.3s ease;
	font-family: 'Montserrat', sans-serif;
}

.work:hover {
	opacity: 0.8;
}


@media only screen and (max-device-width: 440px) {
    /* Hides phone content */
    div#maindesktop {
        display: none;
    }
	
	#cbrin, #redcorner, #wayfinding, #data, #thca, #blm, #geny, #exchange, #buddy, #type, #magtype, #rod, #kopi, #plogo, #carson, #bridge, #photog, #hendricks, #tumblr, #about, #contact {
		padding-top: 8%;
	}
	
	h1 {
	 font-size: 2em;
	}
	
	h6 {
		font-size: 1.5em;
	}
	
	p {
		font-size: 1.5em;
	}
	
	#nav li {
		font-size: 1.8em;
	}
	
	#contact, #rod {
		padding-bottom: 1000px;
	}
	
}
	
    
